<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.irbis.reactive.sample">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <activity
            android:name="me.irbis.reactive.sample.ReactiveActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
